<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>PnL Analysis</title>
</head>

<body>

    <h1 class="title">PNL Analysis</h1>

    <div class="drag-area">
        <div class="icon">
            <img src="{{ url_for('static', filename='cloud-arrow-up-solid.svg') }}" alt="Upload icon">
        </div>
        <header>Drag & Drop to Upload File</header>
        <span>OR</span>
        <button>Browse File</button>
        <input type="file" hidden accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    </div>

    <a id="analyze-btn" href="#" rel="noopener noreferrer">GET ANALYSIS</a>

</body>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</html>