<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
    <title>PnL Analysis</title>
</head>

<body>

    <h1 class="title">PNL Analysis - Report</h1>

    <div class="report">
        
        <div class="total-pnl">Realised PnL : {{data.total_pnl}} ({{data.total_pnl_pct}})</div>

        <div class="total-trades">TOTAL TRADES : {{data.overall.total_trades}}</div>
        <div class="profit-trades">PROFIT TRADES : {{data.overall.profit_trades}}</div>
        <div class="loss-trades">LOSS TRADES : {{data.overall.loss_trades}}</div>

        <div class="trade-summary">{{data.overall.trade_summary}}</div>

        <div class="data">
            
        </div>

    </div>

    

</body>
<script>
    var data = {{ data | tojson | safe }};
</script>
<script src="{{ url_for('static', filename='js/report.js') }}"></script>

</html>